* {
  font-family: romanFont;
}

.container {
  text-align: center;
  opacity: .9;
  background-color: rgba(162, 159, 142, 0.77);
  font-size: 2.5em;
  color: grey-silver;
  font-weight: bolder;
}

body{
  background-image: url("../media/roman.jpg");

}
#result {
  display: none;
  font-size: 2em;
  text-align: inherit;
}

h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  text-align: center;
}

@font-face {
  font-family: romanFont;
  src: url("../media/Roman\ SD.ttf");
}
